html, body { width:100%; height:100%; padding:0; margin:0;}

html {font-size:62.5%;}
body {font-size:1.3em;position:relative;background:url(images/background_light.png);font-family: sans-serif; color:#666;}

h1,h2,h3,h4,h5 {font-weight: normal;}

#react-container { height: 100%; }